*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

body{
    min-height: 100vh;
    max-height: 100vh;
    height: 100%;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color:  #2b3e52 ;
    color: white;
    font-size: 100px;
    border-bottom: 5px solid black;
}

div{
    background-color: rgba(232, 232, 232, 0.771);
}

.main{
    background-color: rgba(232, 232, 232, 0.771);
    display: flex;
    justify-content: center;
    align-items: center;
}

.block{
    background-color: rgba(242, 242, 242, 0.771);
    display: flex;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
    width: 125px;
    height: 125px;
    border-left: none;
    font-size: 70px;
}

.row:nth-child(1)
{
    border-right: 5px solid black;
}

.row:nth-child(2)
{
    border-right: 5px solid black;
}

.block:nth-child(1)
{
    border-bottom: 5px solid black;
}

.block:nth-child(3)
{
    border-top: 5px solid black;
}

.turn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    width: 100%;
}

.errorDiv{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.resultDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 0 1 auto;
    align-items: center;
    font-size: 60px;
    width: 100%;
    height: 30vh;
}

.resultDiv button{
    height: 100px;
    width: 215px;
    border-radius: 10%;
    border: none;
    font-size: 40px;
    border: 1px solid rgba(0, 0, 0, 0.544);
    background-color:  #2b3e52 ;
    color: white;
    cursor: pointer;

}



.footer{
    background-color: rgba(232, 232, 232, 0.771);
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;  
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer img {
    height: 25px;
    width: 25px;
}
