*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.block{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 1px solid black;
    font-size: 40px;
}